@import './base.css';

@font-face {
  font-family: HQVarType;
  src: url('./font.ttf');
}
.frount-page-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -10;
  background-color: rgb(13, 14, 13);
}
.background-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.popup-background {
  background-color: rgba(255, 255, 255, 0.397);
}
.popup-content-style {
  border-radius: 15px;
}
.popup-login-content {
  height: 320px;
  width: 400px;
  z-index: 20;
}
.popup-signup-content {
  height: 500px;
  width: 400px;
  z-index: 30;
}
.popup-content-background {
  background-color: rgb(252, 252, 252);
}
.popup-position {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
}
.popup-content-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-background-img {
  /* background: url('./main-logo.png'); */
  width: 300;
  height: 300;
  background: url('/logo.jpg');
  background-position: center;
  background-size: cover;
}
.background-img {
  height: 100vh;
  width: 100vw;
  background: url('./video.gif') no-repeat;
  position: fixed;
  background-position: center;
  top: 0;
  z-index: -10;
  background-size: cover;
  background-color: rgb(13, 14, 13);
}

.notice {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.notice-font {
  color: white;
  font-size: 30pt;
  font-family: HQVarType;
}
